.record {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 20px;
}

.date {
    font-weight: bold;
}

.title {
    font-size: larger;
    color: rgb(82, 87, 97);
}

.company {
    font-style: italic;
}